html,
body,
.container {
    height: 100%;
}

#main-row {
    height: 100%;
}

#form-column {
    position: relative;
    background-color: lightgreen;
    /* height: max-content; */
    /* height: 100%; */
}

#article-body {
    height: 250px;
}

#form {
    position: relative;
    top: 10px;
    left: 10px;
    width: 350px;
}

div#loading {
    /* width: 100vw;
    height: 100vh; */
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* background: url('/static/loading.gif') no-repeat; */
    cursor: wait;
}

#cards {
    display: inline-block;
    margin: 0;
    padding: 0;
}

#card {
    display: inline-block;
    width: 100%;
    height: 15rem;
    /* position: absolute;
    bottom: 0; */
}

/* #heading {
    display: flex;
} */

/* #recommended {
    display: block;
}

#dropdown {
    display: block;
} */